body{
   background-image: url(job.jpeg);
   background-size: cover;
   margin: 0px;
}
ul{
   height: 50px;
   list-style-type: none;
   background-color: salmon;
}

.flex-container{
   display: flex;
   flex-direction: row;
   justify-content: center;
} 

.menubar{
   font-size: 21px;
   font-family: 'Baskerville Old Face';
   font-weight: bold;
   font-variant: small-caps;
   display: inline-block;
   text-align: center;
   transition: all 0.3s ease;
   margin-top: 17.25px;
   width: 14%;
}


a:link,a:visited{
   text-decoration: none;
   color: #ACCDF5;
   text-align: center;
}
a:hover,a:active{
   text-decoration: underline;
   color: #ACCDF5;
}

.log{
   float: right;
   height: 36px;
   width: 130px;
   display: inline-block;
   font-size: 14px;
   font-family: serif;
   color: #04AA6D;
   border-style: solid;
   border-width:medium;
   border-color: peachpuff;
   border-radius: 0px;
   opacity: 0.8;
   margin: 8px;
   padding: 12px 8px 16px;
}
.log:hover{
color: plum;
}


input[type="password"]{
   font-family: Verdana, Tahoma, sans-serif;
   letter-spacing: 0.122em;
}

input[type='text']{
   font-family: Verdana, Tahoma, sans-serif;
}
.popupl{
   display: none;
   position: fixed;
   left: 500px;
   top: 200px;
   border: 3px groove #91cbfb;
   z-index: 9;
}

.popupr{
   display: none;
   position: fixed;
   left: 247px;
   top: 80px;
   border: 3px groove #91cbfb;
   z-index: 9;
}

.register-container{
   max-width: 600px;
   height: 500px;
   overflow: auto;
   padding: 8px;
   background-color: ##91cbfb;
   opacity: 1;
}
.register-container input[type=text], .register-container input[type=password]{
   width: 100%;
   padding: 8px;
   margin: 5px 0 22px 0;
   border: none;
   background: #f1f1f1;
}

.login-container { 
   max-width: 300px;
   padding: 10px;
   background-color: #91cbfb;
   opacity: 1;
 }

 .login-container input[type=text], .login-container input[type=password] {
   width: 100%;
   padding: 15px;
   margin: 5px 0 22px 0;
   border: none;
   background: #f1f1f1;
 }
.btn {
   background-color: #04AA6D;
   color: white;
   padding: 16px 18px;
   border: none;
   cursor: pointer;
   width: 100%;
   margin-bottom:10px;
   opacity: 0.8;
 }

 .login-container input[type=text]:focus,
 .login-container input[type=password]:focus {
    background-color: #ddd;
    outline: none;
 }
 .login-container .log:hover,.log{
    opacity: 1;
 }
